[submodule "plugins/vim-airline"]
	path = plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugins/vim-airline-themes"]
	path = plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/vim-indexed-search"]
	path = plugins/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule "plugins/vim-buffergator"]
	path = plugins/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "plugins/vim-gitgutter"]
	path = plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/vim-autoformat"]
	path = plugins/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "plugins/vim-scala"]
	path = plugins/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "plugins/ale"]
	path = plugins/ale
	url = https://github.com/w0rp/ale.git
